<div class="container city-container">

    <div class="title-city">
       <h1>signers from</h1>
        <h1 class="city">{{params.city}}</h1> 
    </div>
    
    <div class="list">
       {{#rowsWithCity}}
        <h3>{{first}} {{last}}</h3>
        {{/rowsWithCity}} 
    </div>
    
    <div class="nav">
       {{>logout notEdit=true}}
       <a href="/signers">back</a> 
    </div>

</div>

<div class="dragon-container" id="dragon-city">
        <img id="dragon-img-city" class="dragon" src="/images/dragon-city.png" alt="somedragon">
</div>