{{>logout notEdit=true}}
<div class="container city-container">
    <h1>here is the page with the users from {{params.city}}</h1>
    {{#rowsWithCity}}
        <h3>{{first}} {{last}}</h3>
    {{/rowsWithCity}}
</div>