<h1>you are trying to delete your account</h1>
<h2>are you sure you want to do this?</h2>
<a href="/profile/edit">Never!</a>
<form method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Yes</button>
</form>