<div class="container edit-error-container">
    <h1>edit your profile</h1>
    <div class="error-message">
       <p class="warning" style="visibility: visible">Something went wrong. Please make sure you filled out all the required fields.</p>
        <a href="/profile/edit"><p class="warning" style="visibility: visible">Click here to try to edit again</p></a> 
    </div>

    <div class="nav">
        {{>logout}}
        <a href="/petition">my signature</a>
    </div> 
</div>

<div class="dragon-container" id="dragon-edit-error">
        <img id="dragon-img-edit-error" class="dragon" src="/images/dragon-edit.png" alt="somedragon">
</div>