<div class="container edit-error-container">
    <h1>edit your profile</h1>
    <div class="error-message">
       <p>Something went wrong. Please make sure all the required fields are not empty.</p>
        <a href="/profile/edit">Click here to edit your profile.</a> 
    </div>

    <div class="nav">
        {{>logout}}
        <a href="/petition">my signature</a>
    </div> 
</div>

<div class="dragon-container" id="dragon-edit-error">
        <img id="dragon-img-edit-error" class="dragon" src="/images/dragon-edit.png" alt="somedragon">
</div>