<div class="login-container">
    <h1>please log in</h1>
    <form method="post">
        <p class="warning" style="visibility: {{addVisibility}}">You are using an invalid email address or password. Please, try again</p>
        <input class="email" type="text" name="email" placeholder="email address">
        <input class="password" type="text" name="password" placeholder="password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">log in</button>
    </form>
    <a href="/register">Back to the registration page</a>
</div>