<div class="container login-container">
    <h1>free all dragons</h1>
    <form method="post">
        <p class="warning" style="visibility: {{addVisibility}}">You are using an invalid email address or password. Please, try again</p>
        <input class="email" type="text" name="email" placeholder="email address*">
        <input class="password" type="password" name="password" placeholder="password*">
        <p class="required">* required fields</p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">log in</button>
    </form>
    <a href="/register"><h2>to the registration page</h2></a>
</div>
<div class="dragon-container">
        <img class="dragon" src="/images/dragon-login.png" alt="somedragon">
</div>