<div class="container petition-container">
    <div class="signature-field">
        <h1>place your signature in the field below to help us to</h1>
        <h1 class="heighlight">free all dragons</h1>
            <form method="post">
                <p class="warning" style="visibility: {{addVisibility}}">Something went wrong. Please, try again</p>
                <canvas id="canv" width="350" height="150"></canvas>
                <input id="sig" type="hidden" name="signature">
                {{!-- get csrfToken --}}
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit">submit</button>
            </form> 
    </div> 
    <div class="nav">
        {{>logout notEdit=true}}
    </div>
</div>
<div class="dragon-container" id="dragon-signature">
        <img id="dragon-img-petition" src="/images/dragon-signature.png" alt="somedragon">
</div>
