<div class="petition-container">
    <h1>Hello!</h1>
    <h2>Here is my petition page.</h2>

    <form method="post">
        <input class="name first" type="text" name="first-name" placeholder="first name">
        <input class="name second" type="text" name="second-name" placeholder="second name">
        <canvas id="canv"></canvas>
        <input type="hidden" name="signature">
        <p>your signature</p>
        <button type="submit">submit</button>
    </form> 
</div>
