<div class="petition-container">
    <h1>Hello!</h1>
    <h2>Here is my petition page.</h2>

    <form method="post">
        <input class="name first" type="text" name="first" placeholder="first name">
        <input class="name last" type="text" name="last" placeholder="last name">
        <canvas id="canv"></canvas>
        <input id="sig" type="hidden" name="signature">
        <p>your signature</p>
        <button type="submit">submit</button>
    </form> 
</div>
