<div class="container profile-container">
    <h1>here is the profile page</h1>
    <form method="post">
        <input class="age" type="text" name="age" placeholder="age">
        <input class="city" type="text" name="city" placeholder="city">
        <input class="url" type="text" name="url" placeholder="https://">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">sign the petition</button>
    </form>
</div>