{{>logout}}
<div class="container thanks-container">
    {{#currRow}}
        <h1>Thank you</h1>
        <h2>for signing the petition</h2>
        <div class="img-container">
           <img src="{{sig}}"> 
        </div>
    {{/currRow}}
    {{#allRows}}
        <a href="/signers">See all {{count}} signers</a>
    {{/allRows}}
    <a href="/profile/edit">Edit profile</a>
</div>