{{>logout}}
<div class="container thanks-container">
    {{#currRow}}
        <h1>Thank you</h1>
        <h2>for signing the petition</h2>
        <div class="img-container">
           <img src="{{sig}}"> 
        </div>
    {{/currRow}}
    {{#allRows}}
        <a href="/signers">See all {{count}} signers</a>
    {{/allRows}}
    <a href="/profile/edit">Edit profile</a>
    <form class="delete-sig-form" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="delete-sig-btn" type="submit">Delete signature</button>
    </form>
</div>