
<div class="container thanks-container">

    <div class="outter-square">
        {{#currRow}}
        <div class="row">
            <h1>Thank you</h1>
            <div class="column-right">
                <h2>for signing the petition</h2> 
            {{#../allRows}}
                <a class="see-signers" href="/signers">see all {{count}} signers</a>
            {{/../allRows}}
            </div>    
        </div>
        <div class="sig-img-container">
            <img src="{{sig}}"> 
        </div>
        <form class="delete-sig-form" method="post">
            <button id="delete-sig-btn" type="submit">delete signature</button>
            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
        </form> 
        {{/currRow}}
    </div>  

    <div class="nav">
        {{>logout notEdit=true}}
    </div>
</div>
<div id="dragon-thanks" class="dragon-container">
        <img id="dragon-img-thanks" class="dragon" src="/images/dragon-thanks.png" alt="somedragon">
</div>