* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(216, 218, 229);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(106, 110, 108, 0.8);
}

.title {
    display: flex;
}

.title h1 {
    font-size: 45px;
    border: 5px solid black;
    margin-right: 10px;
}

.title h2 {
    font-size: 29px;
    color: rgb(20, 83, 73);
}

.warning {
    margin-top: 8px;
    visibility: hidden;
    color: rgb(185, 27, 27);
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 22px;
    padding: 5px 15px;
    margin-top: 15px;
    transition: border-color 0.3s;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

input:focus {
    outline: none;
    border-color: rgb(20, 83, 73) ;
}

input:hover {
    border-color: rgb(20, 83, 73);
}

.required {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

button {
    border: none;
    background: none;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 17px;
    transition: color 0.3s;
}

button:hover {
    cursor: pointer;
    color: rgb(20, 83, 73);
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
    color: rgba(20, 83, 73, 0.7);
}

.login {
    height: 60px;
    padding-right: 5px;
    text-align: right;
    border-right: 4px solid black;
    border-top: 4px solid black;
    width: 200px;
    font-size: 22px;
}

.login a {
    font-size: 24px;
    color: rgb(20, 83, 73);
    text-decoration: none;
    transition: color 0.3s;
}

.login a:hover {
    color: rgba(20, 83, 73, 0.7);
    text-decoration: underline;
}

.login a:active {
    color: rgba(20, 83, 73, 0.7);
}

.dragon-container {
    position: absolute;
    right: 30%;
    top: 12%;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.register-dragon {
    opacity: 0.7;
    object-fit: contain;
}