* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(216, 218, 229);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(106, 110, 108, 0);
}

.registration-container .title {
    display: flex;
}

.title h1 {
    font-size: 45px;
    border: 5px solid black;
    margin-right: 10px;
}

.registration-container .title h2 {
    font-size: 29px;
    color: rgb(20, 83, 73);
    letter-spacing: 0.5px;
}

.warning {
    margin-top: 8px;
    visibility: hidden;
    color: rgb(185, 27, 27);
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 22px;
    padding: 5px 15px;
    margin-top: 15px;
    transition: border-color 0.3s;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

input:focus {
    outline: none;
    border-color: rgba(20, 83, 73, 0.7) ;
}

input:hover {
    border-color: rgba(20, 83, 73, 0.7);
}

.required {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

button {
    border: none;
    background: none;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 17px;
    transition: color 0.3s;
}

button:hover {
    cursor: pointer;
    color: rgb(20, 83, 73);
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
    color: rgba(20, 83, 73, 0.7);
}

.login {
    height: 60px;
    padding-right: 5px;
    text-align: right;
    border-right: 4px solid black;
    border-top: 4px solid black;
    width: 200px;
    font-size: 22px;
}

.login a,
.login-container a, 
.profile-container a,
.nav a,
.see-signers {
    font-size: 24px;
    color: rgb(20, 83, 73);
    text-decoration: none;
    transition: color 0.3s;
}

.login a:hover,
.login-container a:hover,
.profile-container a:hover,
.nav a:hover,
.see-signers:hover,
.signers-container .list a:hover {
    color: rgba(20, 83, 73, 0.7);
    text-decoration: underline;
}

.login a:active,
.login-container a:active,
.profile-container a:active,
.nav a:active,
.see-signers:active,
.signers-container .list a:active {
    color: rgba(20, 83, 73, 0.7);
}

.dragon-container {
    position: absolute;
    right: 30%;
    top: 12%;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.dragon {
    opacity: 0.7;
    object-fit: contain;
    z-index: -2;
}


/*  LOGIN ********* LOGIN ********** LOGIN ********** LOGIN ********** LOGIN ********** LOGIN  */

.login-container h1{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 45px;
    border: 5px solid black;
    padding-bottom: 123px;
}

.login-container a {
    height: 60px;
    padding-right: 5px;
    text-align: right;
    border-right: 4px solid black;
    border-top: 4px solid black;
    width: 200px;
}

.login-container h2 {
    font-size: 22px;
}

.login-container form {
    margin-right: 180px;
    justify-content: center;
}


/*  PROFILE ******************** PROFILE ******************** PROFILE ******************** PROFILE ******************** PROFILE */
.profile-container .title {
    display: flex;
    flex-direction: column;
}

.profile-container .title h1 {
    width: 187.52px;
}

.profile-container .title h2 {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 35px;
    height: 372px;
    line-height: 50px;
}


.profile-container .logout {
    display: block;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    padding-right: 5px;
    text-align: right;
    border-right: 4px solid black;
    border-top: 4px solid black;
}


.profile-container form {
    justify-content: center;
}

/* PETITION PAGE ************** PETITION PAGE ************* PETITION PAGE */
.signature-field {
    width: 400px;
    height: 486px;
    border: 5px solid black;
}

.petition-container h1 {
    font-size: 40px;
}

.petition-container .heighlight {
    color: rgb(20, 83, 73);
}

.petition-container form {
    display: block;
}

#canv {
    background-color: rgba(95, 158, 160, 0.8);
}

.petition-container button {
    align-self: start;
}


.nav {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    padding-right: 5px;
    text-align: right;
    border-right: 4px solid black;
    border-top: 4px solid black;
}

#dragon-signature {
    top: 27%;
    right: 32%;
}

#dragon-img-petition {
    width: 750px;
    opacity: 0.7;
}


/*  THANKS **************** THANKS *************** THANKS *************** THANKS */
.thanks-container .outter-square {
    width: 486px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thanks-container .row {
    display: flex;
    border: 5px solid black;
}

.thanks-container h1 {
    width: 50%;
    height: 243px;
    border-right: 5px solid black;
    font-size: 40px;
    vertical-align: bottom;
}

.thanks-container .column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.thanks-container .see-signers {
    font-weight: bold;
}

.sig-img-container {
   border-bottom: 1px solid black;
   text-align: center;
   margin-top: 40px;
}


#delete-sig-btn {
    width: 486px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: rgb(20, 83, 73);
    letter-spacing: normal;
}

.thanks-container .delete-sig-form {
    display: block;
}

#dragon-thanks {
    top: 25%;
    right: 40%;
}

#dragon-img-thanks {
    width: 900px;
}


/*  SIGNERS ******************* SIGNERS ******************** SIGNERS ******************* SIGNERS */
.signers-container .text-container-signers {
    width: 450px;
}

.signers-container h1 {
    margin-bottom: 5px;
    font-size: 35px;
}

.signers-container .under-header {
    display: flex;
}

.signers-container .under-header h1 {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 45px;
    border: 5px solid black;
    padding-bottom: 81px;
    margin-right: 10px;
}

.signers-container .list {
    width: 440px;
    height: 431px;
    overflow: scroll;
    line-height: 43px;
}

.signers-container h3 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.signers-container .list a {
    text-decoration: none;
    color: rgb(20, 83, 73);
    font-weight: 600;
}

#dragon-signers {
    top: 10%;
    right: 27%;
}

/* 486px - the total height of the container everywhere */